* {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
  color: var(--nav-color);
}

:root {
  --spacing-1: 12px;
  --spacing-2: 16px;
  --spacing-3: 22px;
  --spacing-4: 28px;
  /*  */
  --border-radius: 12px;

  --font-color: #9b98b3;
  --nav-color: #442e2e;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* heading */
h2 {
  font-family: "Proza Libre", sans-serif;
  font-size: 30px;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

/* nav */
nav {
  margin: 0;
  padding: 0;
  background-color: #3e3535;
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px rgb(95, 45, 45);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(124, 71, 71);
  box-shadow: 3px 3px 5px 6px rgb(117, 75, 75);
}

.container {
  margin: auto 200px;
  padding: 0;
}
/* first section */
.about-me {
  background-color: #131927;
  color: var(--font-color);
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.project--column {
  float: left;
  width: 33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.project--row:after {
  content: "";
  display: table;
  clear: both;
}

.text-about-me {
  font-size: large;
}

button:hover {
  transform: scale(1.15);
}

button {
  margin: 10px;
  width: 180px;
  height: 60px;
  background-color: rgb(173, 146, 46);
  color: rgb(230, 210, 210);
}

.about-me-container {
  display: flex;
}

.text-about-me {
  margin-left: var(--spacing-3);
}

.portrait {
  width: 200px;
  border-radius: var(--border-radius);
}

.project-image {
  width: 100%;
}
/* projects section */
.projects-heading {
  margin: 20px;
  padding: 30px;
  background-color: #453c89;
  color: aliceblue;
}

.project-heading {
  margin: 10px;
  padding: 10px;
  background-color: #6b5913;
  color: aliceblue;
}

details {
  cursor: pointer;
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  color: var(--font-color);
  padding: 10px;
}

#skills-container {
  width: auto;
  margin-top: var(--spacing-1);
  display: inline-flex;
  transition: transform 0.5s ease-out;
}

.skills-item {
  margin: 5px;
  padding: 5px;
  background-color: #9b98b3;
}

.footer--brand {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

@media (max-width: 600px) and (max-height: 920px) {
  nav {
    display: block;
    width: 100%;
  }
  .navigation-items {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .text-about-me {
    text-align: center;
    margin-left: 30px;
    width: fit-content;
  }
  img {
    margin-left: 30px;
  }
  .about-me-text-container {
    width: 100%;
    margin: 0;
  }
  .column {
    margin: 0;
    padding: 0;
  }

  .text-about-me {
    margin: 15px;
  }

  .project {
    margin-left: 2px;
    padding-left: 2px;
  }
  .project-image {
    margin-left: 5px;
    padding-left: 5px;
  }

  .project--column {
    width: 100%;
  }

  .portrait {
    margin-left: 20px;
    width: 300px;
  }

  .skills-container {
    margin-left: 10px;
  }
}
@media screen and (min-width: 600px) and (min-height: 640px) {
  .portrait {
    margin-left: 100px;
  }

  .about-me {
    height: 700px;
  }
}
